@model Project2.Models.Department

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/LayoutPage1.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Department", FormMethod.Post, new { @style = "text-align:center;border-style: outset;margin: 0 auto; width:250px; " }))

{


    <div class="form-group" col-md-6>
        @Html.LabelFor(temp => temp.Depname)<br />
        @Html.TextBoxFor(temp => temp.Depname, new { placeholder = "Department name" })

    </div>
    <div class="form-group" col-md-6>

        @Html.LabelFor(temp => temp.DepLocation)<br />
        @Html.TextBoxFor(temp => temp.DepLocation, new { placeholder = "Department Location" })
    </div>
    <br />



    <button class="btn btn-outline-success">Submit</button>
    <a class="btn btn-outline-info" href="\Department\Index">Cancel</a>

}

