
@{
    ViewBag.Title = "Contact";
  
}

<h2>Contact View Content Here</h2>
@{
    ViewBag.Message = "Hello This is Contact view";
}
@section sidebar
{

    <a href="#" class="list-group-item" style="background-color:aqua">contact1</a>
    <a href="#" class="list-group-item" style="background-color:aqua">contact2</a>
    <a href="#" class="list-group-item" style="background-color:aqua">contact3</a>
    }

