
@{
    ViewBag.Title = "Index";
    
}

<h2>Index Content Here</h2>

@{
    ViewBag.Message = "Hello This is Index view";
}
@section sidebar
{

    <a href="#" class="list-group-item" style="background-color:aqua">Index1</a>
    <a href="#" class="list-group-item" style="background-color:aqua">Index2</a>
    <a href="#" class="list-group-item" style="background-color:aqua">Index3</a>
}